
body{
    font: 20px, Arial, serif;
}
.nav-item{
    color: white;
}
.navbar {
    background-color: #FAAC58;
}
.quem-somos{
    background-color: #848484;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #FAAC58;
    color: white;
}

.servicos{
    background-color: #848484;
    color: white
}

.bg-footer{
    background-color: #FAAC58;
    color: white;
}